lista_de_contas.json
__pycache__/
resources/configurations/coordenadas_analise.json
resources/configurations/coordenadas_segue.json
parametros.json
teste.py
resources/accounts_list.json
teste.py
modules/analyze_accounts.py
resources/configurations/analyze_coordinates.json
resources/configurations/parameters.json
